<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title> Message sequence non positionne</title>
</head>
<body>
	<div class="row" th:fragment="messageSequenceNonPositionne">
		
			<div class="col-lg-12" >
        	      <div class="row ">
        	      	   <div class="col-lg-12 sourceForm"> 
        	      	   		
        	      	   		<div class="row">
					         	 <div class="col-lg-2">  </div>
			          			
						     
								 <div  class="col-lg-8 erreurPolice"  > <h4 style="text-align:center;"> Aucune sequence de police positionnée pour cette Agence </h4></div>  
								 
								  <div class="col-lg-2"></div>	
								  	         	
		   					</div>
        	      	   
        	      	   		 
        	      	    </div>
        	      	  
					</div>
			</div>
					
		</div>
</body>
</html>