<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title> Resultat Ajout Proposition</title>
</head>
<body>
      <div class="row"  th:fragment="resultatAjoutProposition">
		<div class="col-lg-2">     
			
			<div class="col-lg-12  titre_image"><a href="soumission" title="Soumission de proposition" > Soumettre une proposition </a></div>
			<div class="col-lg-12"><a href="soumission" title="Soumission de proposition" >  <img alt="listeB Soumissions" src="images/soumissions.png"> </a> </div>
						 				
		
		</div>
	
			<div  class="col-lg-8 ajoutSucces"  > <h4 style="text-align:center;"> Proposition soumise avec succès .</h4></div>  
	   
	   <div class="col-lg-2"></div>
	</div>
</body>
</html>