<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title>Voir soumission</title>
</head>
<body>
	<div class="row" th:fragment="voirDonneeSoumission">
		
			<div class="col-lg-12" >
        	      <div class="row ">
        	      	   <div class="col-lg-12 sourceForm"> 
        	      	   
     	      	   		     <div class="row">
        	      	   		 	 <div class="col-lg-2"></div>
        	      	   		     <div class="col-lg-10 "> <h3> Les informations saisies</h3>  </div>   	      	  		      
        	      	   		 </div>
        	      	   		 
        	      	   		 
        	      	    </div>
        	      	   <div class="col-lg-12 sourceForm"> 
        	      	     
        	      	   		<form  th:action="@{/resultatAjoutPropositionModif}"  th:object="${clientDto}"  method="POST" > 
						  		<div class="row ajoutDonneeUtilisateur">
						  			<div class="col-lg-6">
						  				
						  			   <div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Numero de Police : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">              	
												      	<input type="text" readonly name="numeroPolice" data-th-value="${clientAfficher.numeroPolice}" class="form-control"  />                	
							             	
							             	 </div>     
						  			   	</div>
						  			   	
						  				<input type="hidden" name="testEnvoye" data-th-value="${testEnvoye}"  />   
						  									
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Produit : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							              		
							                  <input type="text" readonly name="planDuree" data-th-value="${produit}" class="form-control"   />   
							                               							                  	
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<input type="hidden" name="banque" data-th-value="${banque}" />
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission ">
							                  <label> Genre Assuré : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							             	 
							             	 	<input type="text" readonly name="genreAssure" data-th-value="${clientAfficher.genreAssure}" class="form-control" />                	
							             							             	 
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Nom Assuré : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" readonly name="nomAssure" data-th-value="${clientAfficher.nomAssure}" class="form-control"  />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Nom Client  : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" readonly name="nomClient" data-th-value="${clientAfficher.nomClient}" class="form-control" />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	
						  			   	<div class="row"  th:if="${testIndividuel}" >
						  			   		
						  			   	
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission" >
							                  <label > Numero Compte :  </label> 
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" required name="numero" readonly data-th-value="${clientAfficher.numero}" class="form-control"  />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div th:if="${testIndividuel}" >
							  			   	<div class="row">
							  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
								                  <label> Code Guichet : </label>
								             	 </div>
								             	 <div class="col-md-8 col-xs-8 inputSoumission">
								                  	<input type="text" name="codeGuichet" readonly  class="form-control"  data-th-value="${codeGuichet}"  />
								             	 </div>     
							  			   	</div>
						  			   	</div>
						  			   	
						  			   	<div th:if="${testGroupe}" >
							  			   	<div class="row">
							  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
								                  <label> Code société : </label>
								             	 </div>
								             	 <div class="col-md-8 col-xs-8 inputSoumission">
								                  	<input type="text" name="numero" readonly  class="form-control"  data-th-value="${clientAfficher.numero}"   />
								             	 </div>     
							  			   	</div>
						  			   	</div>
						  			   	
						  			   	<div  th:if="${testIndividuel}" >
							  			   	<div class="row">
							  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
								                  <label> Source de prélèvement * : </label>
								             	 </div>
												<div class="col-md-8 col-xs-8 inputSoumission">
								             	   	<input type="text" name="numero" readonly  class="form-control"  data-th-value="${nomBanque}"   />
								             	
			                					 </div>   
							  			   	</div>
						  			   	</div>
						  			   	<div  th:if="${testGroupe}" >
							  			   	<div class="row">
							  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
								                  <label> Source de prélèvement * : </label>
								             	 </div>
								             	 <div class="col-md-8 col-xs-8 inputSoumission">
								             	 		<input type="text" name="numero" readonly  class="form-control"  data-th-value="${nomSociete}"   />
								             	 </div>     
							  			   	</div>
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Périodicité : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							             	 	<input type="text" name="periodicite"   class="form-control"  data-th-value="${clientAfficher.periodicite}"  readonly />
							             							             	 	
							         
							             	 </div>     
						  			   	</div>
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Couverture : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input  type="text" name="couverture"  data-th-value="${clientAfficher.couverture}" class="form-control"  readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Prime : </label>    
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input  type="text" name="prime" data-th-value="${clientAfficher.prime}"  class="form-control"   readonly />
							             	 </div>     
						  			   	</div>	
						  			   	
						  			   	<div class="row" th:if="${testIndividuel}" >
						  			  	    <div class="col-md-4 col-xs-4 labelSoumission"  >
							                  <label> Matricule du client : </label>    
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input  type="text" name="matriculeClient" data-th-value="${clientAfficher.matriculeClient}"  class="form-control"   readonly />
							             	 </div>     
						  			   	</div>	
						  			   	
						  			   	<div class="row" th:if="${testGroupe}">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission"  >
							                    <label>Date de réalisation du contrat par l'agent : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="date" name="dateRealisation" data-th-value="${clientAfficher.dateRealisation}" class="form-control" readonly  />
							             	 </div>     
						  			   	</div>					  			   	
						  			   		  			  				  			   				  			
						  			</div>	
						  			
						  								  		
						  		    <div class="col-lg-6">
						  		    
						  		    	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Date de prélèvement : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="date" name="datePrelevement" data-th-value="${clientAfficher.datePrelevement}" class="form-control" readonly  />
							             	 </div>     
						  			   	</div>
						  		    	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Date de soumission : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="date"  name="dateSoumission" data-th-value="${clientAfficher.dateSoumission}" class="form-control"  readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Date de naissance : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="date" name="dateNaissance" data-th-value="${clientAfficher.dateNaissance}"  class="form-control" readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Profession : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="profession" data-th-value="${clientAfficher.profession}" class="form-control" readonly/>
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Employeur : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="employeur" data-th-value="${clientAfficher.employeur}"  class="form-control"  readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Ville : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="ville"  class="form-control" data-th-value="${clientAfficher.ville}" readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Adresse postale : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="adressPostal" data-th-value="${clientAfficher.adressePostale}" class="form-control"  readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Telephone 1 : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="telephone1" data-th-value="${clientAfficher.tellephone1}" class="form-control" readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Telephone 2 : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="tel" name="telephone2" data-th-value="${clientAfficher.tellephone2}" class="form-control"  readonly />
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Code Agent : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							             	 	<input type="tel" name="codeAgent" data-th-value="${codeAgent}" class="form-control"  readonly />
							             			                  	
							             	 	
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Nom Agence : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							             	 	<input type="tel" name="codeAgent" data-th-value="${nomAgence}" class="form-control"  readonly />
							             			                  	
							             	 	
							             	 </div>     
						  			   	</div>
						  			   	
						  			   	<div class="row">
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission">
							                  <label> Nom commercial en pré-contrat </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="text" name="nomComPreContrat" data-th-value="${clientAfficher.nomComPreContrat}" class="form-control" readonly  />
							             	 </div>     
						  			   	</div>	
						  			   	
						  			   	<div class="row"  th:if="${testIndividuel}" >
						  			  	 	<div class="col-md-4 col-xs-4 labelSoumission" >
							                    <label>Date de réalisation du contrat par l'agent : </label>
							             	 </div>
							             	 <div class="col-md-8 col-xs-8 inputSoumission">
							                  	<input type="date" name="dateRealisation" data-th-value="${clientAfficher.dateRealisation}" class="form-control" readonly  />
							             	 </div>     
						  			   	</div>	
						  		    		  		    	
						  		    </div>
						  		    
						  		    
						  		</div>  
						  		
			 				 </form>
        	      	   
        	      	   </div>
			</div>
			</div>
			
			
			
		</div>

</body>
</html>