<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
		<title>Liste Agents</title>
		<link rel="stylesheet" type="text/css" href="css/popup.css"/>
</head>
<body>
		<div class="col-lg-12 listeSociete" th:fragment="listeAgent">
	    <h2> Liste des Commerciaux </h2>
		<table width="100%" border="0" cellspacing="1" cellpadding="2" id="tableUtilisateur" class="table-bordered table" >
                    <tr class="entete-tableau"><th style="padding-left:10px">  No </th><th> Code Compagnie </th><th> Code Agence </th><th> Code Agent </th> <th> Nom Agent </th>  <th> Telephone </th>  <th> Adresse 1 </th> <th> Adresse 2 </th>  <th> Ville </th>  <th> Status </th> </tr>
					<tr th:each ="agent,a : ${agents}"> 
						<td  width="100" th:utext="${agents.size*(agents.number)+a.index+1}" style="padding-left:10px" ></td>	 									
  						<td  width="100" th:utext="${agent.codeCompagnie}" ></td>
  						<td  width="100" th:utext="${agent.codeAgence}" ></td>
  						<td  width="100" th:utext="${agent.codeAgent}" ></td>
  						<td  width="100" th:utext="${agent.nomAgent}" ></td>  												
  						<td  width="100" th:utext="${agent.telephone}" ></td>
  						<td  width="100" th:utext="${agent.adresse1}" ></td>
  						<td  width="100" th:utext="${agent.adresse2}" ></td>
  						<td  width="100" th:utext="${agent.ville}" ></td>
  						<td  width="100" th:utext="${agent.status}" ></td>					
					</tr>					            
		 </table>
		 	 	 
		<nav class="page" aria-label="Pagination" th:if="${agents.totalPages gt 0}">	
		    <ul class="pagination justify-content-center font-weight-bold">
		    
		        <li class="page-item" th:classappend="${agents.number eq 0} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/listeAgents?page={id}(id=${agents.number lt 2 ? 1 :agents.number})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <span aria-hidden="true">&lt; Précédent </span>
		            </a>
		        </li>
		        
		        <li class="page-item" th:classappend="${i eq agents.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, agents.totalPages, 1)}">
		            <a class="page-link" th:href="@{/listeAgents?page={id}(id=${i})}" th:text="${i}"
		               th:title="${'Page '+ i}" data-toggle="tooltip">
		            </a>
		        </li>
		        
		        <li class="page-item" th:classappend="${agents.number+1  eq agents.totalPages} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/listeAgents?page={id}(id=${agents.number+1  eq agents.totalPages ?agents.number+1 :agents.number + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
		                <span aria-hidden="true"> Suivant &gt;</span>
		            </a>
		        </li>
		        
		    </ul>
		    
		</nav>				 		 
	    </div>

</body>

</html>