<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Formulaire gestion société</title>
</head>
<body>
		<div class="row " th:fragment="formGestionSociete">
           
            <form th:action="@{/resultatAjoutSociete}" class="col-md-12 col-xs-12" method="POST">
             <div class="row labelAjout">
                  <h2> Ajouter une société </h2>
             </div>
             
             
             
            
              <input type="hidden" name="idSociete" value=" " />
              <input type="hidden" name="estSupprimer" />
                      
            
            <div class="row">
	             <div class="col-lg-4"></div>
	             <div class="col-lg-6 erreur"  th:if="${formErreurSociete}" > 
				  	 <div class="alert alert-danger">
	
	                     <ul>                        
							  <li  th:if="${codeSocieteErreur}" th:utext="${codeSocieteErreur}"> </li> 	                 						   
							  <li  th:if="${nomSocieteErreur}" th:utext="${nomSocieteErreur}"> </li>
							  <li  th:if="${societeCodeRechercheErreur}" th:utext="${societeCodeRechercheErreur}"> </li>
							  <li  th:if="${societeNomRechercheErreur}" th:utext="${societeNomRechercheErreur}"> </li>                  	   
	                     </ul>
	                     
	                  </div> 
	             </div>
	             <div class="col-lg-2"></div>
             </div>
              
              <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Code Société : </label>
             	 </div>
             	 
             	 <div class="col-md-4 col-xs-4">             	    
             	    <input type="text" name="codeSociete" required class="form-control"  maxlength="10"/>					
             	 </div>  
             	          
             </div>
                
             <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Nom Société : </label>
             	 </div>
             	 
             	 <div class="col-md-4 col-xs-4">             	    
             	    <input type="text" name="nomSociete" required class="form-control" maxlength="50"  />					
             	 </div>  
             	          
             </div> 
             
             <div class="row">
                 <div class="col-md-4 col-xs-4">
                  
             	 </div>
             	 <div class="col-md-4 col-xs-4">
                  	<input type="submit" value=" Valider " class="btn btn-primary pullright envoi" />
             	 </div>
             	 <div class="col-lg-4"></div>           
             </div>   
             
             
             
             
                              
          </form>        
           
           
     </div>


</body>
</html>