<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Liste Société</title>
</head>
<body>
		<div class="col-lg-12 listeSociete" th:fragment="listeSociete">
	    <h2> Liste des Sociétés </h2>
		<table width="100%" border="0" cellspacing="1" cellpadding="2" id="tableUtilisateur" class="table-bordered table">
                    <tr class="entete-tableau"><th style="padding-left:10px">  No </th><th> Code Société </th><th> Nom de la Société </th> <th> Telephone </th>   <th> Status </th></tr>
					<tr th:each ="societe,s : ${societes}"> 
						<td  width="100" th:utext="${societes.size*(societes.number)+s.index+1}" style="padding-left:10px" ></td>	 									
  						<td  width="100" th:utext="${societe.codeSociete}" ></td>
  						<td  width="100" th:utext="${societe.nomSociete}" ></td>
  						<td  width="100" th:utext="${societe.telephone}" ></td>
  						<td  width="100" th:utext="${societe.status}" ></td>
  						
					</tr>					            
		 </table>
		 	 
		<nav class="page" aria-label="Pagination" th:if="${societes.totalPages gt 0}">	
		    <ul class="pagination justify-content-center font-weight-bold">
		    
		        <li class="page-item" th:classappend="${societes.number eq 0} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/listeSocietes?page={id}(id=${societes.number lt 2 ? 1 :societes.number})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <span aria-hidden="true">&lt; Précédent </span>
		            </a>
		        </li>
		        
		        <li class="page-item" th:classappend="${i eq societes.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, societes.totalPages, 1)}">
		            <a class="page-link" th:href="@{/listeSocietes?page={id}(id=${i})}" th:text="${i}"
		               th:title="${'Page '+ i}" data-toggle="tooltip">
		            </a>
		        </li>
		        
		        <li class="page-item" th:classappend="${societes.number+1  eq societes.totalPages} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/listeSocietes?page={id}(id=${societes.number+1  eq societes.totalPages ?societes.number+1 :societes.number + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
		                <span aria-hidden="true"> Suivant &gt;</span>
		            </a>
		        </li>
		        
		    </ul>
		    
		</nav>				 
				 
				
		 
		 </div>

</body>
</html>