<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Message accueil espace admin</title>
</head>
<body>
<div class="row" th:fragment="messageAccueilEspaceAdmin" >
    <div class="col-lg-4"></div>
	<div class="col-lg-6"><h1>Bienvenue à l'espace d'Administration </h1></div>         
	<div class="col-lg-2"></div>
</div>
<div class="row" th:fragment="messageAccueilEspaceAdmin" >
    <div class="col-lg-4"></div>
	<div class="col-lg-6"> <a href="#" >  <img alt="listeB Soumissions" src="images/belifeAdmin.png"> </a> </div>
	<div class="col-lg-2"></div>
</div>
</body>
</html>