<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

   <div class="row sidebar" th:fragment="sidebar">
   
       <nav class="col-lg-2 menu-outils" th:fragment="navigation">    
			<div class="dropdown outils-bouton">
  	          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                  Outils   <span class="caret"></span>
              </button>
              <ul class="dropdown-menu menu">
              	 
					<li th:if="${gestionMenuUtilisateur}">
						<a href="listeUtilisateur">Gestion des Utilisateurs</a>
					</li>				
								 
					<li th:if="${gestionMenuBanque}">
						<a href="gestionBanquePrincipale">Gestion des Banques</a>
					</li>
					
					<li th:if="${gestionMenuAgenceBanque}">
						<a href="gestionAgenceBanque"> Agence de Banque</a>
					</li>
					
					<li th:if="${gestionMenuAgence}">
						<a href="gestionAgence"> Gestion des Agences de Belife</a>
					</li>
					
					<li th:if="${gestionMenuAgent}">
						<a href="gestionAgent"> Commerciaux</a>
					</li>	
					
					<li th:if="${gestionMenuSociete}">
						<a href="gestionSociete">Société</a>
					</li>	
					
					<li th:if="${gestionMenuSequencePolice}">
						<a href="gestionSequencePolice"> Sequence Police </a>
					</li>	
					
					<li th:if="${gestionMenuUniteTechnique}">
						<a href="ajoutSequencePolice">Sequence Police</a>
					</li>	
					
<!-- 					<li><a href="modulesUtilisateur">Gestion des Accès</a></li> -->
<!-- 					<li><a href="sourcePolice"> Source de prélèvement </a></li>					 -->

			  </ul>
           </div>      
		</nav>
   
   		<div class="col-lg-2 bt_accueil" th:if="${accueilDeux}">    		
   		    <a href="accueilDeux" class="btn btn-success accueil" role="button" aria-pressed="true"> Accueil</a>
   		</div>
   		<div class="col-lg-2 bt_accueil" th:if="${accueilDeuxUniteTechnique}">    		
   		    <a href="accueilDeuxUniteTechnique" class="btn btn-success accueil" role="button" aria-pressed="true"> Accueil</a>
   		</div>
   		
  		<div class="col-lg-4 bord" > </div>
  		
   		<div class="col-lg-4 connexion" > 
   		  <div class="row">  	
   		     <div class="col-md-6"></div>	    
   		    <div class="col-md-6 nom_logo">
   		     		     
   		        <div class="dropdown ">  		                  		                        		        
   		                <b    th:utext="${identifiantSession}" ></b>  		            
   	          			<a class="btn btn-default dropdown-toggle" title=" Utilisateur actuel " type="button" data-toggle="dropdown" data-placement="right"  > 
                      	  	<img src="images/user.png" alt="img_utilisateur" WIDTH=40 HEIGHT=35 class="rounded-circle" >     
               			</a> 
                  
               		   <ul class="dropdown-menu compte-menu">
 							<li class="dropdown-header"><span>Utilisateur actuel</span> </li>
 							<li class="divider"></li>
 							<li><a href="#">Editer votre compte</a></li> 
 							<li><a href="deconnexion">Déconnexion</a></li>				
 			  		   </ul> 			 		      
           		</div>		  
   		  
   		  
   		   </div>  		 
   		</div>
   		 
   </div>
   </div>
</body>
</html>