<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Formulaire numero police LB</title>
</head>
<body>
	<div class="row " th:fragment="formulaireNumeroPoliceRechercheLbb">
           
           <form th:action="@{/resultatRechercheLB}" class="col-md-12 col-xs-12" method="POST">
             <div class="row labelAjout">
                  <h2>Recherche Par numero de Police </h2>
             </div>
             
            
             <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 np">
                  	<label> Nmero de Police : </label>
             	 </div>
             	 <div class="col-md-4 col-xs-4">
                  	<input type="text" name="LBPOLN"  maxlength="20" class="form-control"  autocomplete="off" required/>
             	 </div>           
             </div>  
             
             <div class="row">
                 <div class="col-md-4 col-xs-4">
                  	<label>  </label>
             	 </div>
             	 <div class="col-md-8 col-xs-8">
                  	<input type="submit" value=" Valider " class="btn btn-primary pullright envoi" />
             	 </div>           
             </div> 
             
                              
          </form>        
           
           
     </div>

</body>
</html>