<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title>Gestion Banque Principale</title>
</head>
<body>

		<div th:fragment="gestionBanquePrincipale">
         
         
          <div class="row" >
          	  <div class="col-lg-6"></div>                 
              <div  th:replace="aaron/banque/quatreBoutonBanquePrincipale :: quatreBoutonBanquePrincipale" ></div>      
          </div>
          			
          <div class="row">
		         	<div class="col-lg-2">  </div>
          			
			          <div th:if="${ajoutSuccesBanquePrincipale}">
					         		<div  class="col-lg-8 ajoutSucces"  > <h4 style="text-align:center;" >Une Banque de code <b th:utext="${codeBanqueReturn}" ></b> ajoutée avec succès </h4></div>  
					  </div>
					  <div class="col-lg-2"></div>		         	
		   </div>
		   
		   
		   
		   
		   <div class="row">
		         	<div class="col-lg-2">  </div>
          			
			          <div th:if="${resultatModifBanquePrincipale}">
					         		<div  class="col-lg-8 ajoutSucces"  > <h4 style="text-align:center;"> Banque de code <b th:utext="${codeBanqueRecherche}" ></b> modifiée avec succès </h4></div>  
					  </div>
					  <div class="col-lg-2"></div>		         	
		   </div>
		   
		   <div class="row">
		         	<div class="col-lg-2">  </div>
          			
			          <div th:if="${messageBanqueNonExistante}">
					         		<div  class="col-lg-8 ajoutSucces"  > <h4 style="text-align:center;"> Banque de code <b th:utext="${codeBanque}" ></b> non existante dans le système </h4></div>  
					  </div>
					  <div class="col-lg-2"></div>		         	
		   </div>
		   
		   <div class="row">
		         	<div class="col-lg-2">  </div>
          			
			          <div th:if="${resultatSuppressionBanquePrincipale}">
					         		<div  class="col-lg-8 ajoutSucces"  > <h4 style="text-align:center;"> Banque de code <b th:utext="${codeBanque}" ></b> desactivée avec succès. </h4></div>  
					  </div>
					  <div class="col-lg-2"></div>		         	
		   </div>
		   
		   
		   	

		<div th:if="${formulaireGestionBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>
				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/formulaireGestionBanquePrincipale :: formulaireGestionBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
         
         <div th:if="${formulaireGestionModifBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>
				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/formulaireGestionModifBanquePrincipale :: formulaireGestionModifBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
         
          <div th:if="${formulaireNumeroRechercheBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>
				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/formulaireNumeroRechercheBanquePrincipale :: formulaireNumeroRechercheBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
         
         
         <div th:if="${formulaireNumeroModifBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>

				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/formulaireNumeroModifBanquePrincipale :: formulaireNumeroModifBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
         
         
         <div th:if="${formulaireNumeroSupprimerBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>

				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/formulaireNumeroSupprimerBanquePrincipale :: formulaireNumeroSupprimerBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
         
         
         <div th:if="${resultatRechercheBanquePrincipale}" >
          <div class="row">
          
             <div  class="col-lg-12 formulaireAjout">
             	<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         	
		         	<div class="col-lg-2"></div>
				</div>

				<div class="row">
		         	<div class="col-lg-2">  </div>
		         	
		         	
		         		<div  th:replace="aaron/banque/resultatRechercheBanquePrincipale :: resultatRechercheBanquePrincipale" ></div>  
					
		         	
		         	<div class="col-lg-2"></div>
		         	
		         </div>	
		       </div>
		       
          </div>
         </div>
              
         
          <div th:if="${listeBanque}" >
          		<div  th:replace="aaron/banque/listeBanquePrincipale :: listeBanquePrincipale" ></div> 
          </div>

     </div>

</body>
</html>