<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title>Formulaire gestion sequence police</title>
</head>
<body>

	<form th:action="@{/resultatAjoutSequencePolice}" th:object="${SequencePolice}" class="col-md-12 col-xs-12 formulaireGestionSequencePolice" th:fragment="formulaireGestionSequencePolice" method="POST">
             <div class="row labelAjout">
                  <h2>Positionner une Sequence pour une Agence</h2>
             </div>
             
             <div class="row">
	             <div class="col-lg-4"></div>
	             <div class="col-lg-4 erreur"  th:if="${formErreurSequencePolice}" > 
				  	 <div class="alert alert-danger">
	
	                     <ul>   
	                     	  <li  th:if="${erreurSequence}" th:utext="${erreurSequence}"> </li>
	                                             	   
	                     </ul>
	                     
	                  </div> 
	             </div>
	             <div class="col-lg-4"></div>
             </div>
             
             <input type="hidden" name="id" value=" " />
              
              <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Agence : </label>
             	 </div>
             	 
<!--              	 <div class="col-md-4 col-xs-4 ">             	     -->
<!--              	    <input pattern="[0-9]+" type="text" name="seq" class="form-control" maxlength="50" required  />					 -->
<!--              	 </div>   -->
             	 	<div class="col-md-4 col-xs-4 ">
		             	 <select name="nomAgence" class="form-control" data-th-value="${nomAgence}" required   >                      
					         <option  th:each="nomAgence : ${nomAgences}" th:value="${nomAgence}" th:utext="${nomAgence}" />
					     </select>
			      	</div> 
             	          
             </div>
              
              <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Sequence : </label>
             	 </div>
             	 
             	 <div class="col-md-4 col-xs-4">             	    
             	    <input pattern="[0-9]+" type="text" name="seq" class="form-control" maxlength="50" data-th-value="${seq}" required  />					
             	 </div>  
             	          
             </div>
                    
              <div class="row">
                 <div class="col-md-4 col-xs-4">
                  	<label>  </label>
             	 </div>
             	 <div class="col-md-6 col-xs-6">
                  	<input type="submit" value=" Valider " class="btn btn-primary pullright envoi" />
             	 </div>           
             </div>           
          </form>

</body>
</html>