<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<title> Quatre boutons </title>
</head>
<body>
	<div class="col-lg-6 ajouter troisBouton" th:fragment="quatreBoutonSequencePolice">
             <a href="ajoutSequencePolice" class="btn btn-success" role="button" aria-pressed="true">Ajouter</a> 
             <a href="informationAgence" class="btn btn-success" role="button" aria-pressed="true">Informations Agence</a>                                                            
    </div>	

</body>
</html>